@import '../../../styles/includes/_sass-includes';

.home-page {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		
		.project {
			margin: 20px;
			padding: 20px;
			flex: 0 0 calc(33.3% - 80px);
			background-color: #fff;
			border-radius: 3px;
			
			img {
				max-width: 100%;
				height: auto;
			}
		}
}