div {
	border: 1px solid #000;
	
	> div {
		border: 1px solid red;
		
		> div{
			border: 1px solid blue; 
		}
	}
}

header,
footer {
	border: 1px solid green;
}

.debug-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	
	.wrapper {
		flex: 1;
		overflow: auto;
	}
	
	#console {
		width: 100%;
		min-height: 300px;
		background-color: #fff;
	}
}