.header {
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: #ececec;
  height: 50px;
  color: white;
}

.logo {
	align-self: flex-start;
	width: auto; 
  height: 40px;
}

.nav {
	display: inline-flex;
	justify-content: stretch;
	justify-items: stretch;
	align-items: center;
	
	li {
		display: flex;
		justify-content: stretch;
		justify-items: stretch;
		align-items: center;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		
		& + li {
			border-left: 0;
		}
		
		a {
			padding: 0 15px;
			text-decoration: none;
			color: #333;
		}
	}
}