.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 0;
  background-color: #ececec;
  height: 250px;
  color: #333;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 310px;
  
  img {
  	max-width: 100%;
  	height: auto;
  }
  
  h1 {
  	text-align: center;
  }
}

.nav {
	margin: 20px 0;
	padding: 0;
	display: inline-flex;
	justify-content: stretch;
	justify-items: stretch;
	align-items: stretch;
	
	li {
		display: flex;
		justify-content: stretch;
		justify-items: stretch;
		align-items: stretch;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		
		& + li {
			border-left: 0;
		}
		
		a {
			padding: 0 15px;
		}
	}
}